.App {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.template-builder {
  display: flex;
  height: calc(100vh - 60px);
}

.sidebar {
  width: 300px;
  background-color: #f8f9fa;
  border-right: 1px solid #dee2e6;
  overflow-y: auto;
}

.workspace {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.canvas {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #f0f2f5;
}

.properties-panel {
  width: 300px;
  background-color: #f8f9fa;
  border-left: 1px solid #dee2e6;
  padding: 15px;
  overflow-y: auto;
}

.form-element {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #dee2e6;
  border-radius: 4px;
  background-color: white;
  position: relative;
}

.form-element.selected {
  border: 2px solid #007bff;
}

.element-button {
  display: block;
  width: 100%;
  text-align: left;
  margin-bottom: 8px;
  padding: 8px;
  background-color: white;
  border: 1px solid #dee2e6;
  border-radius: 4px;
  cursor: grab;
}

.element-button:hover {
  background-color: #e9ecef;
}

.row-container {
  display: flex;
  margin-bottom: 15px;
  min-height: 50px;
  border: 1px dashed #adb5bd;
  background-color: rgba(0, 123, 255, 0.05);
}

.column-container {
  flex: 1;
  padding: 10px;
  border: 1px dashed #ced4da;
  min-height: 50px;
  margin: 0 5px;
  background-color: rgba(0, 123, 255, 0.02);
}

.toolbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #e9ecef;
  border-bottom: 1px solid #dee2e6;
}

.preview-mode {
  background-color: white;
  padding: 20px;
}
.label-sidebar {
  margin-left: 5px;
}
.sidebar-text-icon {
  display: flex;
  align-items: center;
}

/* document css  */
.document-editor {
  /* max-width: 800px; */
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.editable-field {
  position: relative;
  border: 1px dashed transparent;
  padding: 4px;
  margin: 2px 0;
}

.editable-field:hover {
  border-color: #007bff;
  cursor: text;
}
.editable-field input,
.editable-field textarea {
  width: 100%;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.document-content p {
  margin: 0;
}

.logo-upload-btn {
  cursor: pointer;
}

.logo-placeholder {
  padding: 20px;
  border: 2px dashed #ccc;
  text-align: center;
  color: #666;
}

.section-title {
  color: #004072;
  margin-bottom: 10px;
}

.document-title {
  color: #004072;
  border-bottom: 2px solid #004072;
  padding-bottom: 10px;
}
